@model MathTeacher.Models.Answer

@{
    ViewBag.Title = "Check your Answer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check your Answer</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Time taken  
        </dt>

        <dd>
            @((Model.EndTIme - Model.StartTime).ToString(@"hh\:mm\:ss"))
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.Question.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Text)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Question.CorrectAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.CorrectAnswer)
        </dd>

        @if (Model.Result == Model.Question.CorrectAnswer)
        {
            <div>
               <h4 style="color: green">Your answer is CORRECT</h4>
            </div>
        }

        else
        {
            <div>
                <h4 style="color: red">Your answer is WRONG</h4>
            </div>
        }

    </dl>
</div>
<div>

    @if (Model.Next() == null)
    {
        @Html.ActionLink("Back to List", "Details", "Games", new { Id = Model.Game.ID }, new { })
    }
   
    <br />
    @if (Model.Previous() != null)
    {
        @Html.ActionLink("Previous", "Give", new { Id = Model.Previous().ID })
    }
    @if (Model.Next() != null)
    {
        @Html.ActionLink("Next", "Give", new { Id = Model.Next().ID })
    }
</div>