@model MathTeacher.Models.Game
@using MathTeacher.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Final Review</h2>

<h4>Total time taken:@ViewBag.TotalTimeTaken.ToString(@"hh\:mm\:ss")</h4>
<h4>Correct answers: @ViewBag.CorrectAnswers of @ViewBag.TotalQuestions</h4>
<h4>Your Score: @(ViewBag.CorrectAnswers * 10) </h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => (new Question()).Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => (new Answer()).Result)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Answers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @if(!item.IsAnswered)
            { 
                @Html.ActionLink("Give", "Give", "Answers",new { id = item.ID }, new { }) 
            }
            else
            {
                @Html.ActionLink("Review", "Review","Answers", new { id = item.ID }, new { }) 
            }
        </td>
    </tr>
}
    <tr>
        @Html.ActionLink("Back to List", "Index")
    </tr>

</table>
